.login__input {
  border: none;
  border-bottom: 2px solid #CCCCCC;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0;
  padding: 0 0 8px 0;
  width: 358px;
  background-color: black;
}