.header__registet-link {
 font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 22px;
 text-align: right;
 color: #FFFFFF;
 text-decoration: none;
 padding: 0;
 margin: 0;
}